footer{
    width: 100%;
    display: flex;
    padding: 15px 0px 24px 0;
    background-color: #fff;
}

footer p, footer a{
    color: #000;
}

footer .content{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

footer .content p:first-child{
    margin-bottom: 15px;
}

@media only screen and (min-width:1024px){
    footer .content{
        flex-direction: row;
        justify-content: space-between;
    }
    
    footer .content p:first-child{
        margin-bottom: 0px;
    }
}